@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue: 248, 46%, 49%;
    --black: 0, 0%, 15%;
    --yellow: 43, 91%, 61%;
    --orange: 15, 87%, 70%;
    --green: 84, 89%, 63%;
    --red: 0, 87%, 59%;
    --white: 0, 0%, 100%;
    --gray-1: 270, 33%, 96%;
    --gray-2: 233, 39%, 95%;
    --gray-3: 0, 0%, 82%;
    --gray-4: 270, 10%, 64%;
    --cyan: 200, 88%, 66%;
    --dark-background: 271, 28%, 16%;
    --dark-1: 260, 19%, 20%;
    --dark-2: 259, 23%, 13%;
    --linear-1-from: 245, 45%, 49%, 1;
    --linear-1-to: 245, 45%, 49%, 0;
    --linear-2-from: 46, 94%, 67%, 1;
    --linear-2-to: 46, 94%, 67%, 0;
    --linear-3-from: 13, 87%, 69%, 1;
    --linear-3-to: 13, 87%, 69%, 0;
    --linear-4-from: 201, 90%, 68%, 1;
    --linear-4-to: 201, 90%, 68%, 0;
    --background: var(--white);
    --foreground: var(--black);
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: var(--dark-background);
    --foreground: var(--white);
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
